<header class="header-mob">
  <div class="container header-mob-container">
    <a href="./index.html" class="header-mob-left">
      <svg class="icon icon-logo">
        <use href="./img/icons.svg.svg#icon-logo"></use>
      </svg>
      Green.Harvest
    </a>
    <div class="header-mob-right">
      <svg class="icon burger-open">
        <use href="./img/icons.svg.svg#icon-burger-open"></use>
      </svg>
    </div>
  </div>
  <div class="container header-container">
    <a href="./index.html" class="header-left">
      <svg class="icon icon-logo">
        <use href="./img/icons.svg.svg#icon-logo"></use>
      </svg>
      Green.Harvest
    </a>
    <nav class="header-nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#how-it-works" class="nav-link nav-link-one">
            How It Works
          </a>
        </li>
        <li class="nav-item">
          <a href="#vegetables" class="nav-link nav-link-two"> Vegetables </a>
        </li>
        <li class="nav-item">
          <a href="#reviews" class="nav-link nav-link-three"> Reviews </a>
        </li>
        <li class="nav-item">
          <a href="#your-order" class="nav-link shop-now">Shop now</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="header-mob-burger">
  <div class="container mob-container">
    <button class="header-mob-close">
      <svg class="icon burger-close">
        <use href="./img/icons.svg.svg#icon-burger-close"></use>
      </svg>
    </button>
    <nav class="header-mob-nav">
      <ul class="mob-nav-list">
        <li class="mob-nav-item">
          <a href="#how-it-works" class="mob-link mob-nav-link-one link-one">
            How It Works
          </a>
        </li>
        <li class="mob-nav-item">
          <a href="#vegetables" class="mob-link mob-nav-link-two link-two">
            Vegetables
          </a>
        </li>
        <li class="mob-nav-item">
          <a href="#reviews" class="mob-link mob-nav-link-three link-three">
            Reviews
          </a>
        </li>
      </ul>
    </nav>
    <div class="shop-btn">
      <a href="#your-order" class="mob-link shop-now link-for">Shop now</a>
    </div>
  </div>
</div>