<header class="header-mob">
  <div class="container header-mob-container">
    <a href="./index.html" class="header-mob-left">
      <svg class="icon icon-logo">
        <use href="./img/icons.svg.svg#icon-logo"></use>
      </svg>
      <svg class="icon header-text">
        <use href="./img/icons.svg.svg#icon-header-text"></use>
      </svg>
    </a>
    <div class="header-mob-right">
      <svg class="icon burger-open">
        <use href="./img/icons.svg.svg#icon-burger-open"></use>
      </svg>
    </div>
  </div>
  <div class="container header-container">
    <a href="./index.html" class="header-left">
            <svg class="icon icon-logo">
              <use href="./img/icons.svg.svg#icon-logo"></use>
            </svg>
            <svg class="icon header-text">
              <use href="./img/icons.svg.svg#icon-header-text"></use>
            </svg>
      </a>
      <nav class="header-nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="" class="nav-link nav-link-one">How It Works</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link nav-link-two">Vegetables</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link nav-link-three">Reviews</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link shop-now">Shop now</a>
          </li>
        </ul>
      </nav>
  </div>
</header>

<div class="header-mob-burger">
  <div class="container mob-container">
      <button class="header-mob-close">
        <svg class="icon burger-close">
          <use href="./img/icons.svg.svg#icon-burger-close"></use>
        </svg>
      </button>
      <nav class="header-mob-nav">
        <ul class="mob-nav-list">
          <li class="mob-nav-item">
            <a href="" class="mob-link mob-nav-link-one">How It Works</a>
          </li>
          <li class="mob-nav-item">
            <a href="" class="mob-link mob-nav-link-two">Vegetables</a>
          </li>
          <li class="mob-nav-item">
            <a href="" class="mob-link mob-nav-link-three">Reviews</a>
          </li>
        </ul>
      </nav>
      <div class="shop-btn">
        <a href="" class="mob-link shop-now">Shop now</a>
      </div>
  </div>
</div>
