<section class="steps" id="how-it-works">
  <div class="container container-steps">
    <div class="works-steps-img">
      <picture class="cooking-container">
        <source
          media="(min-width: 1280px )"
          srcset="
            ./img/how-it-work-img/cooking-desk.jpg    1x,
            ./img/how-it-work-img/cooking-desk-2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px )"
          srcset="
            ./img/how-it-work-img/cooking-tab.jpg    1x,
            ./img/how-it-work-img/cooking-tab-2x.jpg 2x
          "
        />
        <source
          media="(max-width:767px )"
          srcset="
            ./img/how-it-work-img/cooking-mob.jpg    1x,
            ./img/how-it-work-img/cooking-mob-2x.jpg 2x
          "
        />
        <img
          class="cooking-img"
          src="./img/how-it-work-img/cooking-mob.jpg"
          alt="The woman cooks"
          width="335"
          height="450"
        />
      </picture>
    </div>
    <div class="works-container-steps">
      <div class="right-container">
        <h2 class="steps-title visually-hidden">How it works</h2>
        <h3 class="steps-title-info">
          To order your
          <span class="steps-title-info-green">vegetable</span> basket, simply
          follow these <span class="steps-title-info-green">easy steps</span>
        </h3>
        <p class="steps-title-deskr">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home.
        </p>
        <ol class="steps-item">
          <li class="steps-list">
            <p class="step-list-text">
              Just choose
              <span class="steps-list-important">the vegetable</span> you want
              to order by clicking on the checkboxes
              <span class="steps-list-important">next to it.</span>
            </p>
          </li>
          <li class="steps-list">
            <p class="step-list-text second-item">
              Click on <span class="steps-list-important">the basket</span> and
              fill out the form.
            </p>
          </li>
          <li class="steps-list">
            <p class="step-list-text">
              Sit back and relax! Your
              <span class="steps-list-important">fresh vegetables</span> basket
              will be delivered.
            </p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
