<section class="vegetables" id="vegetables">
  <div class="container">
    <h2 class="title-vegetables">
      organic <span class="title-span">vegetables</span>
    </h2>
    <p class="text-vegetables">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="list-vegetables">
      <li class="item-vedgetables">
        <div class="vegetable-cover-wrap">
          <h3 class="card-title-vegetables">eggplant</h3>
          <p class="card-text-vegetables">60 UAH / kg</p>
          <picture>
            <img
              srcset="
                ./img/vegetables/vegetables-1.png    1x,
                ./img/vegetables/vegetables-1-2x.png 2x
              "
              src="./img/vegetables/vegetables-1.png"
              alt="eggplants"
              class="image-vegetables"
              width="282"
            />
          </picture>
          <p class="vegetables-cover-text">
            This vegetable has chlorogenic acid, which prevents the development
            of oncology, diabetes and tuberculosis. The substances contained in
            it also prevent the increase of uric acid, so it is useful for
            people who suffer from gout.
          </p>
        </div>
      </li>
      <li class="item-vedgetables">
        <div class="vegetable-cover-wrap">
          <h3 class="card-title-vegetables">leek</h3>
          <p class="card-text-vegetables">50 UAH / kg</p>
          <picture>
            <img
              srcset="
                ./img/vegetables/vegetables-2.png    1x,
                ./img/vegetables/vegetables-2-2x.png 2x
              "
              src="./img/vegetables/vegetables-2.png"
              alt="leek"
              class="image-vegetables"
              width="282"
            />
          </picture>
          <p class="vegetables-cover-text">
            Leek strengthens immunity, restores physical strength, increases
            vitality. In addition, leek are used to prevent various colds and
            infectious diseases and are recommended as an antiseptic and
            antimicrobial agent.
          </p>
        </div>
      </li>
      <li class="item-vedgetables">
        <div class="vegetable-cover-wrap">
          <h3 class="card-title-vegetables">mushrooms</h3>
          <p class="card-text-vegetables">40 UAH / kg</p>
          <picture>
            <img
              srcset="
                ./img/vegetables/vegetables-3.png    1x,
                ./img/vegetables/vegetables-3-2x.png 2x
              "
              src="./img/vegetables/vegetables-3.png"
              alt="musrooms"
              class="image-vegetables"
              width="282"
            />
          </picture>
          <p class="vegetables-cover-text">
            The extraordinary benefit of champignons lies in the medicinal
            properties of these mushrooms. It is reasonably believed that
            regular consumption of mushrooms contributes to the destruction and
            removal of cholesterol plaques.
          </p>
        </div>
      </li>
      <li class="item-vedgetables">
        <div class="vegetable-cover-wrap">
          <h3 class="card-title-vegetables">corn</h3>
          <p class="card-text-vegetables">60 UAH / kg</p>
          <picture>
            <img
              srcset="
                ./img/vegetables/vegetables-4.png    1x,
                ./img/vegetables/vegetables-4-2x.png 2x
              "
              src="./img/vegetables/vegetables-4.png"
              alt="corn"
              class="image-vegetables"
              width="282"
            />
          </picture>
          <p class="vegetables-cover-text">
            Dietary fibers of corn help to improve the work of the
            gastrointestinal tract, relieves constipation. Also, corn improves
            mood and relieves depression.
          </p>
        </div>
      </li>
      <li class="item-vedgetables">
        <div class="vegetable-cover-wrap">
          <h3 class="card-title-vegetables">sweet potatoes</h3>
          <p class="card-text-vegetables">50 UAH / kg</p>
          <picture>
            <img
              srcset="
                ./img/vegetables/vegetables-5.png    1x,
                ./img/vegetables/vegetables-5-2x.png 2x
              "
              src="./img/vegetables/vegetables-5.png"
              alt="sweet potatoes"
              class="image-vegetables"
              width="282"
            />
          </picture>
          <p class="vegetables-cover-text">
            These vegetables have antioxidants that are responsible for getting
            rid of free radicals. In practice, this means that they prevent the
            formation of cancer cells, diabetes, heart disease, atherosclerosis,
            premature aging of the skin and the formation of wrinkles.
          </p>
        </div>
      </li>
      <li class="item-vedgetables">
        <div class="vegetable-cover-wrap">
          <h3 class="card-title-vegetables">carrot</h3>
          <p class="card-text-vegetables">40 UAH / kg</p>
          <picture>
            <img
              srcset="
                ./img/vegetables/vegetables-6.png    1x,
                ./img/vegetables/vegetables-6-2x.png 2x
              "
              src="./img/vegetables/vegetables-6.png"
              alt="carrot"
              class="image-vegetables"
              width="282"
            />
          </picture>
          <p class="vegetables-cover-text">
            Carrots contain vitamin A, which takes care of the condition of the
            mucous membranes and skin, strengthens bones, teeth, gums, and hair,
            resists vision impairment, protects the nervous system, and restores
            a person's energy and vitality after heavy physical exertion.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
