<section class="vegetables">
  <div class="container">
    <h2 class="title-vegetables">
      organic <span class="title-span">vegetables</span>
    </h2>
    <p class="text-vegetables">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="list-vegetables">
      <li class="item-vedgetables">
        <h3 class="card-title-vegetables">eggplant</h3>
        <p class="card-text-vegetables">60 UAH / kg</p>
        <img
          srcset="
            ./img/vegetables/vegetables-1.png    1x,
            ./img/vegetables/vegetables-1-2x.png 2x
          "
          src="./img/vegetables/vegetables-1.png"
          alt="eggplants"
          class="image-vegetables"
          width="282"
        />
      </li>
      <li class="item-vedgetables">
        <h3 class="card-title-vegetables">leek</h3>
        <p class="card-text-vegetables">50 UAH / kg</p>
        <img
          srcset="
            ./img/vegetables/vegetables-2.png    1x,
            ./img/vegetables/vegetables-2-2x.png 2x
          "
          src="./img/vegetables/vegetables-2.png"
          alt="leek"
          class="image-vegetables"
          width="282"
        />
      </li>
      <li class="item-vedgetables">
        <h3 class="card-title-vegetables">mushrooms</h3>
        <p class="card-text-vegetables">40 UAH / kg</p>
        <img
          srcset="
            ./img/vegetables/vegetables-3.png    1x,
            ./img/vegetables/vegetables-3-2x.png 2x
          "
          src="./img/vegetables/vegetables-3.png"
          alt="musrooms"
          class="image-vegetables"
          width="282"
        />
      </li>
      <li class="item-vedgetables">
        <h3 class="card-title-vegetables">corn</h3>
        <p class="card-text-vegetables">60 UAH / kg</p>
        <img
          srcset="
            ./img/vegetables/vegetables-4.png    1x,
            ./img/vegetables/vegetables-4-2x.png 2x
          "
          src="./img/vegetables/vegetables-4.png"
          alt="corn"
          class="image-vegetables"
          width="282"
        />
      </li>
      <li class="item-vedgetables">
        <h3 class="card-title-vegetables">sweet potatoes</h3>
        <p class="card-text-vegetables">50 UAH / kg</p>
        <img
          srcset="
            ./img/vegetables/vegetables-5.png    1x,
            ./img/vegetables/vegetables-5-2x.png 2x
          "
          src="./img/vegetables/vegetables-5.png"
          alt="sweet potatoes"
          class="image-vegetables"
          width="282"
        />
      </li>
      <li class="item-vedgetables">
        <h3 class="card-title-vegetables">carrot</h3>
        <p class="card-text-vegetables">40 UAH / kg</p>
        <img
          srcset="
            ./img/vegetables/vegetables-6.png    1x,
            ./img/vegetables/vegetables-6-2x.png 2x
          "
          src="./img/vegetables/vegetables-6.png"
          alt="carrot"
          class="image-vegetables"
          width="282"
        />
      </li>
    </ul>
  </div>
</section>
