<section class="your-order">
  <div class="container order-container">
    <h2 class="order-title">
      Fresh <span>harvest</span> box has got you covered
    </h2>
    <p class="order-text">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>
    <div class="block-wrap">
      <div class="order-wrap-form">
        <p class="order-form-text">
          Ordering <span class="text-red">from us</span> is quick and easy! Fill
          out <span class="text-green">the form</span> below and we will contact
          you !
        </p>
        <form class="order-form">
          <label for="full-name"></label>
          <input
            type="text"
            name="user-name"
            class="order-input"
            id="order-form"
            autofocus
            placeholder="Full Name"
          />
          <label for="email"></label>
          <input
            type="email"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            required
            name="user-email"
            class="order-input"
            id="email"
            placeholder="Email"
          />
          <label for="comment"></label>
          <textarea
            name="user-comment"
            id="comment"
            class="order-textarea"
            placeholder="Comment"
          ></textarea>
          <button class="order-btn" type="submit">Send</button>
        </form>
      </div>
      <div class="order-block">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/your-order/your-order-desk.png    1x,
              ./img/your-order/your-order-desk@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/your-order/your-order-tab.png    1x,
              ./img/your-order/your-order-tab@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/your-order/your-order-mob.png    1x,
              ./img/your-order/your-order-mob@2x.png 2x
            "
          />
          <img
            class="order-img"
            src="./img/your-order/your-order-tab.png"
            alt="A woman fills a jar with zucchini for canning"
            width="528"
          />
        </picture>
        <p class="order-block-text">Follow us on our social networks:</p>
        <ul class="order-soc">
          <li>
            <a
              class="order-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              rel="noopener noreferrer"
              >instagram
            </a>
          </li>
          <li class="order-link">/</li>
          <li>
            <a
              class="order-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              rel="noopener noreferrer"
              >facebook
            </a>
          </li>
          <li class="order-link">/</li>
          <li>
            <a
              class="order-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              rel="noopener noreferrer"
              >youtube
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
