.advertisement {
  padding: 80px 0;
}

.advertisement .container {
  padding: 0 10px;
}

.advertisement-text {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.04;
  text-transform: uppercase;
}

.advertisement-span {
  display: block;
  color: #fbfbfb;
  border-radius: 12px;
  background-color: #576f35;
  max-width: 355px;
  height: 102px;
  padding: 3px 10px 0;
  margin-bottom: 4px;
}

.advertisement-second-span {
  display: block;
  padding: 0 10px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .advertisement {
    padding: 100px 0 302px;
  }

  .advertisement .container {
    padding: 0 8px;
    position: relative;
  }

  .advertisement-text {
    font-size: 64px;
    line-height: 1.09;
  }

  .advertisement-span {
    max-width: 752px;
    height: 86px;
    padding: 8px 8px;
    margin: 0;
  }

  .advertisement-second-span {
    padding: 0 8px;
    width: 704px;
    position: absolute;
    top: 78px;
  }
}

@media screen and (min-width: 1280px) {
  .advertisement {
    padding: 100px 0;
  }

  .advertisement .container {
    padding: 0 8px;
  }

  .advertisement-text {
    width: 1054px;
    font-size: 76px;
    line-height: 1.05;
  }

  .advertisement-span {
    display: inline;
    padding: 0 8px;
  }

  .advertisement-second-span {
    display: inline;
    padding-left: 6px;
  }
}
