button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: rgba(122, 49, 68, 0.55);
}

::-webkit-scrollbar-thumb {
  background: rgba(122, 49, 68, 0.9);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(98, 33, 51, 0.9);
}

.header-container {
  display: none;
}

.header-mob {
  position: absolute;
  width: 100%;
}

.header-mob-container {
  display: flex;
  align-items: center;
  padding: 20px;
  padding-bottom: 0;
  justify-content: space-between;
}

.header-mob-left {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #fbfbfb;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.icon-logo {
  width: 16px;
  height: 16px;
}

.header-mob-right {
  cursor: pointer;
}

.burger-open {
  width: 32px;
  height: 32px;
}

.header-mob-burger {
  z-index: 999;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #7a3145;
  width: 100%;
  height: 100%;
  color: #fbfbfb;
  transition: display 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mob-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
}

.burger-close {
  width: 32px;
  height: 32px;
}

.header-mob-nav {
  margin: 0 auto;
  margin-top: 240px;
  max-width: 116px;
  text-align: center;
}

.mob-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mob-nav-item:not(:last-child) {
  margin-bottom: 34px;
}

.mob-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  font-weight: 500;
  padding: 12px 16px;
  color: #fbfbfb;
  border-radius: 12px;
  border: 1px solid #fbfbfb;
}

.mob-link:hover,
.mob-link:focus,
.mob-link:active {
  background-color: #fbfbfb;
  color: #7a3145;
}

.mob-nav-link-two {
  padding-left: 24px;
  padding-right: 24px;
}

.mob-nav-link-three {
  padding-left: 32px;
  padding-right: 32px;
}

.shop-btn {
  position: absolute;
  bottom: 56px;
  left: 50%;
  transform: translateX(-50%);
}

.shop-now {
  padding: 16px 41px;
  border-radius: 30px;
}

@media screen and (min-width: 768px) {
  .header-mob-container {
    padding: 32px;
  }

  .header-mob-left {
    gap: 8px;
    font-size: 20px;
  }

  .icon-logo {
    width: 18px;
    height: 18px;
  }

  .header-text {
    width: 168px;
    height: 15px;
  }

  .burger-open {
    width: 40px;
    height: 40px;
  }

  .header-mob-burger {
    background-color: rgba(20, 20, 20, 0.4);
  }

  .mob-container {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 351px;
    background-color: #7a3145;
  }

  .header-mob-close {
    top: 32px;
    right: 32px;
  }

  .burger-close {
    width: 40px;
    height: 40px;
  }

  .header-mob-nav {
    text-align: center;
    margin: 0 auto;
    margin-top: 372px;
    max-width: 120px;
  }

  .mob-link {
    font-size: 16px;
    padding: 12px 12px;
  }

  .mob-nav-link-two {
    padding-left: 21px;
    padding-right: 21px;
  }

  .mob-nav-link-three {
    padding-left: 32px;
    padding-right: 32px;
  }

  .shop-btn {
    position: absolute;
    bottom: 66px;
    left: 50%;
    transform: translateX(-50%);
  }

  .shop-now {
    padding: 16px 41px;
    border-radius: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .header-mob-container {
    display: none;
  }

  .header-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1080px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-left {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 49px;
    font-size: 20px;
    color: #fbfbfb;
    font-weight: 500;
    text-transform: uppercase;
  }

  .nav-list {
    margin-top: 48px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .nav-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;
    font-weight: 500;
    padding: 12px;
    border-radius: 12px;
    color: #fbfbfb;
    border: 1px solid #fbfbfb;
  }

  .nav-link:hover,
  .nav-link:focus,
  .nav-link:active {
    background-color: #fbfbfb;
    color: #7a3145;
  }

  .shop-now {
    padding: 16px 32px;
    background-color: #7a3145;
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    border: none;
    margin-left: 20px;
  }

  .shop-now:hover,
  .shop-now:focus,
  .shop-now:active {
    background-color: #622133;
    color: #fbfbfb;
  }
}

.is-open {
  display: block;
}
