.section-hero {
  background-color: #576f35;
}

.section-hero-content {
  margin-bottom: 40px;
}

.section-hero-title {
  color: #fbfbfb;
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 154px;
}

.section-hero-text {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
}

.section-hero-img {
  background-image: url(../img/Hero-img/heroimg.jpg);
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  height: 370px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-hero-img {
    background-image: url(../img/Hero-img/heroimg-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding-top: 122px;
  }

  .section-hero .container {
  }

  .section-hero-content {
    padding-right: 16px;
    padding-left: 16px;
  }

  .section-hero-title {
    font-size: 76px;
    margin-bottom: 50px;
    padding-top: 0;
  }
  .section-hero-text {
    font-size: 16px;
    line-height: 1.25;
    padding-right: 101px;
  }

  .section-hero-img {
    width: 100%;
    height: 539px;
  }
}
@media screen and (min-width: 1280px) {
  .section-hero .container {
    display: flex;
  }

  .container hero-container {
    padding-top: 0;
  }

  .hero-container {
    padding-top: 0;
    padding-left: 16px;
    padding-right: 28px;
    margin-bottom: 50px;
  }
  .section-hero-title {
    padding-top: 172px;

    margin-bottom: 128px;
    width: 502px;
  }
  .section-hero-text {
    padding-right: 30px;
    width: 472px;
  }

  .section-hero-img {
    max-width: 1280px;
    height: 800px;
    margin: 0;
  }

  .section-hero-content {
    padding-right: 28px;
  }
}
