.section-hero {
  background-color: #576f35;
  padding-top: 100px;
}

.hero-container {
  margin-bottom: 40px;
}

.section-hero-title {
  color: #fbfbfb;
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.section-hero-text {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
}

.section-hero-img {
  background-image: url(../img/Hero-img/heroimg.jpg);
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  height: 370px;
  width: 375px;
  margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-hero-img {
    background-image: url(../img/Hero-img/heroimg-2x.jpg);
  }
}
