.vegetables {
    padding: 80px 0;
    background-color: #7a3145;
}

.title-vegetables {
    line-height: 1.04;
    text-transform: uppercase;
    color: #fbfbfb;
    max-width: 335px;
    margin-bottom: 20px;
}

.title-span {
    color: rgba(251, 251, 251, 0.3);
}

.text-vegetables {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    color: #fbfbfb;
    margin-bottom: 40px;
    max-width: 335px;
    padding-right: 12px;
}

.list-vegetables {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.item-vedgetables {
    border-radius: 40px;
    padding: 32px 26px;
    width: 334px;
    height: 379px;
    background: #fbfbfb;
}

.card-title-vegetables {
    font-weight: 600;
    font-size: 28px;
    line-height: 1.00;
    color: #7a3145;
    margin-bottom: 12px;
}

.card-text-vegetables {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #141414;
    margin-bottom: 14px;
}

.image-vegetables {
    justify-content: center;
}

@media screen and (min-width: 375px) {
    .container {
        width: 375px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;

    }

    .title-vegetables {
        max-width: 508px;
    }

    .text-vegetables {
        max-width: 626px;
        padding-right: 57px
    }

    .list-vegetables {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 28px 20px;
    }

    .item-vedgetables {
        width: 342px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
    }

    .text-vegetables {
        max-width: 626px;
        padding-right: 57px
    }

    .list-vegetables {
        gap: 28px 21px;
    }

    .item-vedgetables {
        width: 346px;
    }
}