.your-order {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #7a3145;
}

.order-container {
  margin: 0 auto;
}

.order-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 29px;
}

.order-title span {
  color: rgba(251, 251, 251, 0.3);
}

.order-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0;
  color: #fbfbfb;
  margin-bottom: 40px;
}

.block-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order-wrap-form {
  background-color: #fbfbfb;
  border-radius: 30px;
  padding: 40px 20px;
  width: 100%;
}

.order-form-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.08;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 40px;
}

.text-red {
  color: #7a3145;
}

.text-green {
  color: #576f35;
}

.order-form {
  display: flex;
  flex-direction: column;
}

.order-input {
  border: 1px solid #7a3145;
  border-radius: 30px;
  padding-left: 14px;
  width: 100%;
  height: 46px;
  margin-bottom: 15px;
  background-color: transparent;
  color: #141414;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #141414;
}

.order-input:focus {
  border: 1px solid #e74a3b;
}

.order-input[type='email']:valid {
  border-color: #3cbc81;
}

.order-input:placeholder-shown {
  border-color: rgba(20, 20, 20, 0.2);
}

.order-textarea {
  border: 1px solid #7a3145;
  border-radius: 15px;
  padding: 14px 16px;
  width: 100%;
  height: 91px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  background-color: transparent;
  color: #141414;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-textarea::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #141414;
}

.order-textarea:placeholder-shown {
  border-color: rgba(20, 20, 20, 0.2);
}

.order-btn {
  background-color: rgb(87, 111, 53);
  border-radius: 30px;
  padding: 16px;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  color: #fbfbfb;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus,
.order-btn:active {
  background-color: rgb(105, 127, 75);
}

.order-block {
  background-color: #576f35;
  padding: 40px 20px;
  border-radius: 30px;
  width: 100%;
}

.order-img {
  margin-bottom: 20px;
}

.order-block-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.015em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 14px;
}

.order-soc {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.order-link {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.08;
  letter-spacing: -0.015em;
  color: #fbfbfb;
}

@media screen and (min-width: 768px) {
  .your-order {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .order-title {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 25px;
    max-width: 640px;
  }

  .order-text {
    font-size: 16px;
    line-height: 1.25;
    max-width: 640px;
    margin-bottom: 50px;
  }

  .block-wrap {
    gap: 25px;
    align-items: center;
  }

  .order-wrap-form {
    padding: 50px 100px;
    width: 628px;
  }

  .order-form-text {
    margin-bottom: 50px;
  }

  .order-input {
    font-size: 16px;
    height: 52px;
  }

  .order-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
  }

  .order-textarea {
    font-size: 16px;
    height: 95px;
    margin-bottom: 25px;
  }

  .order-textarea::placeholder {
    font-size: 16px;
    line-height: 1.25;
  }

  .order-btn {
    font-size: 18px;
    line-height: 1.11;
  }

  .order-block {
    padding: 50px;
    width: 628px;
  }

  .order-block-text {
    font-size: 18px;
    line-height: 1.11;
    margin-bottom: 15px;
  }

  .order-soc {
    gap: 12px;
  }

  .order-link {
    font-size: 32px;
    line-height: 1;
  }
}

@media screen and (min-width: 1280px) {
  .order-title {
    max-width: 751px;
  }

  .order-text {
    max-width: 751px;
  }

  .block-wrap {
    flex-direction: row;
    gap: 24px;
    align-items: start;
  }

  .order-wrap-form {
    padding: 50px;
    width: 529px;
  }

  .order-block {
    width: 527px;
  }

  .order-img {
    height: 273px;
    margin-bottom: 50px;
  }
}
